extends layout

block content
  
  header.detail
      a.home #{data.name}
      a.download.ic.download(href=download_url)
  section.wrap
    .detail
      -if(data.type == 'image')
        img(src=download_url)
      -else if(data.type == 'video')
        iframe(src="javascript:'<style>video{width:100%;height:100%;background:#000;}body{margin:0;padding:0;}</style><video src=\""+download_url+"\" controls=\"controls\" autoplay=\"autoplay\"></video>'")
      -else if(data.type == 'audio')
        audio(src=download_url,controls='controls',autoplay='autoplay')
      -else
        p 暂无法预览   
  include footer



  

  
