extends layout

block content
  include message
  
  header
    .wrap
      a.home(href='/') ShareList
  section.wrap
    .menu
      - if(access)

        .panel.panel-default
          .panel-heading
            | 操作
          .panel-body
            form.form-horizontal(method='post')
              input(type='hidden',name='a',value='clear_cache')
              button.btn.btn-danger(href='?a=clear_cache') 清除缓存

        .panel.panel-default
          .panel-heading
            | 口令
          .panel-body
            form.form-horizontal(method='post')
              input(type='hidden',name='a',value='token')
              .form-group
                label.control-label.col-sm-2(for='token') 密码
                .col-sm-10
                  input.form-control(type='text', name='token' , placeholder='新口令',required)
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') 提交
        .panel.panel-default
          .panel-heading
            | 虚拟路径
            a.create-path 添加
          .panel-body
            form.form-horizontal#j_path(method='post')
              .group-path
                input(type='hidden',name='a',value='path')
                each i in config.path
                  .form-group.item
                    .col-sm-2
                      select.form-control(name='provider', value=(i.path.match(/^.*(?=\:\/\/)/) || [''])[0],placeholder='类型',required)
                        option(value='gd', selected=/^gd\:\/\//.test(i.path) ? 'selected' : null) GoogleDrive
                        option(value='od', selected=/^od\:\/\//.test(i.path) ? 'selected' : null) OneDrive
                    .col-sm-2
                      input.form-control(type='text', name='name', value=i.name,placeholder='名称',required)
                    .col-sm-7
                      input.form-control(type='text', name='path', value=i.path.replace(/^.*\:\/\//,''),placeholder='GoogleDrive/OneDrive 分享的文件夹ID',required)
                    .col-sm-1
                      button.btn.btn-default.remove-path(type='button') -
              .form-group
                .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') 提交
            
      - else
        .input-group
          input.form-control#j_token(type='text',name='token', placeholder='输入口令')
          span.input-group-btn
            button.btn.btn-default#signin(type='button') 登录
  script(src='https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js')
  
  script.
    $(function(){
      $('#signin').on('click' , function(){
        location.href = '/manage/'+ $('#j_token').val()
      })

      var item
      if($('.item').length){
        item = $('.item:first').clone()
        item.find('input').val('')
      }
      $('body').on('click','.create-path' , function(){
        $('.group-path').append( item.clone() )
      })
      .on('click' ,'.remove-path' , function(){
        $(this).parents('.item').remove()
      })

      $('.sl-message').fadeOut(3000)
    })
   

  include footer

  