extends partial/layout

block content
  header
    .wrap.detail
      a.home #{data.name}
      a.download-menu(href=url)
        i.ic.ic-download
  section.wrap
    .detail
      -if(data.body)
        | !{data.body}
      -else
        p= __('unable_to_preview')   
  include partial/footer