extends partial/layout

block content
  div(style="position:absolute;height:100%;width:100%;display:flex;align-items:center;justify-content:center;flex-direction:column;padding-bottom:10%;box-sizing:border-box;")
    h1(style="color:rgba(0,0,0,.8);") 404
    div(style="color:rgba(0,0,0,.45)") Sorry, the page you visited does not exist.