.drive-search{
  max-width:560px;
  width:90%;
  margin: auto;
  transform: translate(0,20vh);
}
.drive-body{
  padding:12px 28px;
  flex:1 1 auto;
  .item{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    padding:6px 8px;
    transition: all 0.3s;
    margin-bottom:1px;
    cursor: pointer;
    position: relative;
    color:var(--primary-text-color);
    &:hover{
      background-color: var(--context-hover);
      .item-check{
        opacity: 1;
      }
    }
    .item-check{
      padding:0 8px;
      opacity: 0;
      transition:opacity 0.3s;
      
    }
    
    &.item--checked{
      background-color: var(--primary-hover-theme-color);
      .item-check{
        opacity: 1;
      }
    }
   
    .item-icon__ext--md{
      display: none;
    }
    .item-icon__ext--sm{
      display: none;
    }
    .item-info{
      padding:0 6px;
      color:rgba(0,0,0,.5);
      flex:0 0 auto;
      position:absolute;
      right:0;
      top:0;
    }
    .item-name{
      flex: 1;
      min-width: 0;
      width:100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // display: flex;
      position: relative;
    }
    .item-icon{
      margin-right: 16px;
      flex:none;
      width:36px;
      position: relative;
    }

    .item-thumb{
      width:100%;
      height:30px;
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center center;
      margin-right: 16px;
      flex:none;
      border-radius: 5px;
    }
    
    .item-icon__ext{
      position: absolute;
      font-size: 12px;
      bottom: 5px;
      color:inherit;
      text-transform: uppercase;
      transform: scale(0.8);
      transform-origin:center;
      // width:42px;
      text-align: center;
      width:100%;
      font-weight: bold;
      // transform-origin: left;
      // left: 16px;
    }
   
    .item-meta{
      flex:auto;
      display: flex;
      justify-content:space-between;
      align-items: center;
      overflow: hidden;
      color:inherit;
    }
    .item-ctime{
      flex: 0 0 auto;
      // padding:0 24px;
      // width: 200px;
      color:var(--context-2);
      font-size: 12px;
      text-align: left;
    }
    
    .item-size{
      // color:rgba(37, 38, 43, 0.72);
      color:var(--context-2);
      font-size: 12px;
      text-align: right;
      flex:0 0 80px;
    }
  }
}


.drive-body--grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 12px;
  .item{

    .item-icon{
      width:42px;
    }

    .item-meta{
      flex-direction: column;
      align-items: flex-start;
      width:100%;
      overflow: hidden;
    }
    
    .item-ctime{
      // display: none;
    }
    .item-size{
      display: none;
    }
  }
}

.drive-header{
  padding:12px 40px;
  background-color:var(--background-header);
  color: var(--primary-text-color);
  font-size: 21px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid var(--context-4);
  // position: sticky;
  top:0;
  z-index:1;
  .drive-header__name{
    cursor: pointer;
  }
  .drive-action{
    color:var(--context-2);
  }
  .drive-action-search{
    margin-right:16px;
  }

}

.drive-routes{
  padding:16px 40px 0px;
  // background-color: #c1c1c1;
  .ant-breadcrumb-link{
    // background-color: rgb(66, 133, 244);
    // border-radius: 20px;
    // color:#fff;
    // padding:6px 8px;
    // a{
    //   color: #fff;
    // }
  }
}

.drive-routes--hidden{
  display: none;
}

footer{
  border-top: 1px solid var(--context-4);
  margin: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height:7vh;
  a{
    padding:0 12px;
    color:var(--context-2);
  }
  p{
    margin-bottom: 0;
  }
}

.layout{
  min-height: 93vh;
}
@media screen and (max-width:480px) {
  .drive-header{
    padding:12px;
  }
  .drive-routes{
    padding: 12px 12px 0px;
  }
  .drive-body{
    padding:12px 0;
    &.drive-body--grid {
      display: grid;
      grid-template-columns: 100%;
      grid-gap: 0;
    }

    .item{
      padding:8px;
      .item-icon__ext{
        left:12px;
        bottom:6px;
      }
    }
  }
}